@import url('https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet');

*{
    box-sizing:border-box;
}
header,
section{
   
}

:root{
    --Snigle-font:"Sniglet",cursive;
    --Rubik:"Rubik",sans-serif;
    --patua:"Patua One",cursive;
    --Lobster:"Lobster",cursive;
    --light-black:#2e2c2caf;
    --bggradient:linear-gradient(
        to bottom,
        #00c0f0, #0389f7);
    --light-gray:rgba(255,255,255,0.877);
}

header a{
    font-family:var(--Snigle-font);
    font-size:0.9em;
    color:white;
}


header{
    background: #00c0f0;
    background: var(--bggradient);
}
.dropdown-content{
    display:none;
    position:absolute;
    background:white;
    min-width:160px;
    box-shadow:0px 2px 15 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
}
.dropdown-content a:hover{
    background: #ddd;
}

.dropdown:hover .dropdown-content{
    display:block;
}

header .nav-item:last-child{
    padding-right: 10.5em;
}

header .nav-item{
    padding:0.9em;
    
}

header .navbar-brand{
    padding-left:8rem;
    color: #fff;
}

header .nav-link:hover{
    color:black;
}

.copyrights,
  .copyrights p {
    padding-top: 0;
    margin: 0px;
    border-top: 1px solid #d3d0cb;
    font-size: 1em;
    color: white;
  }

 